.empty-cart {
  margin-top: 200px;
}

.cart-show {
  margin: 100px 50px 0 50px;
  top: 50%;
  left: 50%;
}

.img-settings {
  width: 100px;
  height: 150px;
}

.row {
  padding-top: 20px;
}

.final-total {
  margin-top: 200px;
}
