/* grid */
[class*="row-"] {
  margin-bottom: 20px;
  display: flex;
}
[class*="row-"]:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
}

@media all and ( min-width: 768px ) {

  /* all cols margin */
  [class*="col-"] {
    margin-right: 20px;
  }
  [class*="col-"]:last-child {
    margin-right: 0;
  }

  /* make the columns responsive */
  .col-1-2 {
    float: left;
    width: 50%;
  }
  .col-md-4 {
    float: left;
    width: 20%;
    display: flex;
  }

  .col-md-3 {
    width:auto;
  }

  /* 2 span rows */
  .row-2 {
    padding-left: 20px;
  }
  .row-2 [class*="col-"]:first-child {
    margin-left: -20px;
  }

  /* 4 span rows */
  .row-4 [class*="col-"]:first-child {
    margin-left: -60px;
  }
}

.wrapper {
  margin: auto;
  padding: 50px 50px 50px 50px;

}

.product {
}
