.userform {
  padding-top: 100px;
  padding-left: 200px;
  background-color: #486d8c;

  .field {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #ff6688;
  }
}
