@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "views/**/*";

#notification_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(135, 216, 211, 0.85);
  .alert, .notice {
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



.a {
  color: #333333;
}

.form-control {
  width: 80%;
}
