
<div class="category-banner">
  <h1>Categories</h1>
</div>

<div class="flex-parent">
  <div class="flex-child">
    <h2>Piano</h1>
   </div>
    <div class="flex-child">
     <h2>Guitar</h2>
     </div>
    <div class="flex-child">
     <h2>Violin</h2>
  </div>
    <div class="flex-child">
     <h2>Ukulele</h2>
  </div>
</div>
